@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.button {
    cursor: pointer;
}

.page-header {
    z-index: 1;
    position: relative;
}

.page-container {
    width: 1200px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navigation {
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 70px;
    padding-left: 168px;
}

.navigation-logo {
    position: absolute;
    left: 70px;
    top: 0;
}

.page-navigation-list {
    width: 450px;
    list-style-type: none;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navigation-link {
    text-decoration: none;
    color: #000000;
    padding: 20px 16px;
    display: block;
    box-sizing: border-box;
}

.navigation-link:hover {
    color: rgb(0, 0, 0, 0.6);
}

.navigation-link:focus,
.navigation-link:active {
    color: rgb(0, 0, 0, 0.4);
}

.navigation-link-active {
    position: relative;
}

.navigation-link-active::after {
    content: "";
    display: block;
    border-bottom: 3px solid #756257;
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 32px);
    bottom: -2px;
}

.navigation-user-list {
    max-width: 360px;
    font-size: 16px;
    line-height: 20px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    align-items: center;
}

.header-search-link::before {
    content: "";
    width: 19px;
    height: 18px;
    display: block;
    background: url("../images/icons/search-icon.svg") no-repeat top left;
}

.favorites-link::before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background: url("../images/icons/favorites-icon.svg") no-repeat top left;
}

.user-link {
    text-decoration: none;
    color: #ffffff;
    padding: 22px 13px;
    display: block;
}

.favorites-link {
    position: relative;
}

.likes-number {
    min-width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 10px;
    background-color: #7db54f;
    border-radius: 50%;
    position: absolute;
    display: flex;
    padding: 0 4px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 4px;
}

.navigation-user-button {
    background-color: #756157;
    border-radius: 4px;
    padding: 8px 34px;
    margin: 14px 0 14px 20px;
    min-width: 160px;
    box-sizing: border-box;
}

.brown-button:hover,
.brown-button:focus {
    background-color: #615048;
}

.brown-button:active {
    background-color: #756157;
    color: rgb(255, 255, 255, 0.3)
}

.brown-button:disabled {
    background-color: #e5e5e5;
    color: rgb(255, 255, 255, 0.3)
}

.main-container {
    flex-grow: 1;
}

.greetings {
    background-color: #94989c;
    background-image: url("../images/index-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 485px;
    display: block;
    text-align: center;
    margin-bottom: 69px;
    padding-top: 52px;
    position: relative;
    padding-bottom: 57px;
    box-sizing: border-box;
}

.greetings::after {
    content: "";
    background-image: url("../images/divider.svg");
    display: block;
    width: 100%;
    height: 57px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
}

.advantages,
.search-hotels {
    text-align: center;
}

.advantages {
    margin-bottom: 96px;
}

.advantages-text-bold {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    max-width: 670px;
    margin: 0 auto 25px;
}

.advantages-reasons {
    max-width: 670px;
    margin: 0 auto 90px;
}

.advantages-list,
.local-serve-advantages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.advantages-item,
.serve-item {
    width: 400px;
    box-sizing: border-box;
    min-height: 384px;
}


.advantages-item--spec {
    width: 100%;
    display: flex;
}

.advantages-container--spec {
    max-width: 230px;
    margin: 0 auto;
    padding: 92px 0;
}

.advantages-image {
    margin: 0;
    padding: 0;
    height: 100%;
    display: block;
    object-fit: cover;
    max-width: 100%;
}

.advantages-container:not(.advantages-container--spec) {
    max-width: 230px;
    margin: 0 auto;
    padding: 104px 0;
}

.advantages-title,
.serve-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
    width: 180px;
}

.advantages-title {
    max-width: 172px;
    margin: auto;
    margin-bottom: 61px;
    position: relative;
}

.advantages-title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: rgba(0, 0, 0, 0.3);
    bottom: -31px;
    left: 50%;
    transform: translateX(-50%);
}

.advantages-title.light-theme::after {
    background: rgba(255, 255, 255, 0.3);
}


.advantages-description,
.serve-description {
    width: 230px;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

.local-serve-advantages {
    list-style-type: none;
}

.serve-item {
    min-height: 384px;
    padding: 183px 85px 81px;
    display: block;
    box-sizing: border-box;
    position: relative;
}

.serve-title {
    margin: auto;
    margin-bottom: 28px;
}

.serve-item::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
}

.serve-apartments::before {
    content: "";
    width: 75px;
    height: 72px;
    display: block;
    background: url("../images/icons/apartments-icon.svg") no-repeat top left;
}

.serve-burger::before {
    content: "";
    width: 75px;
    height: 72px;
    display: block;
    background: url("../images/icons/burger-icon.svg") no-repeat top left;
}

.serve-souvenir::before {
    content: "";
    width: 75px;
    height: 76px;
    display: block;
    background: url("../images/icons/souvenir-icon.svg") no-repeat top center;
}

.colored-1 {
    background-color: #82b3d3;
    color: #ffffff;
}

.colored-1 h3 {
    color: #ffffff;
}

.colored-2 {
    background-color: rgba(131, 179, 211, 0.12);
}

.colored-3 {
    background-color: rgba(131, 179, 211, 0.2);
}

.search-hotels {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 96px;
}

.interested {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.dates-of-stay {
    font-size: 22px;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 20px;
}

.search-hotel-link {
    width: 376px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #756157;
    border-radius: 4px;
    display: block;
    padding: 8px 50px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 54px;
}

/*modal*/

.modal-container {
    height: 100%;
    width: 100%;
    background-color: rgba(242, 242, 242, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.modal-container--show {
    display: flex;
}

.modal {
    position: relative;
    margin: auto;
    padding: 64px 70px;
    background-color: #ffffff;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.modal-auth {
    width: 577px;
}

.modal-close-button {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #f2f2f2;
    border: none;
    position: absolute;
    right: 52px;
    top: 64px;
    cursor: pointer;
}

.modal-close-button::before,
.modal-close-button::after {
    content: "";
    width: 19px;
    height: 2px;
    background-color: #000000;
    top: 25px;
    left: 17px;
    display: block;
    position: absolute;
}

.modal-close-button::before {
    transform: rotate(45deg);
}

.modal-close-button::after {
    transform: rotate(-45deg);
}

.modal-close-button:hover {
    background-color: #e6e6e6;
}

.modal-close-button:focus {
    outline: 3px solid #83b3d3;
}

.modal-close-button:hover::before,
.modal-close-button:hover::after {
    background-color: rgb(0, 0, 0, 0.3);
}

.modal-title {
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    margin-bottom: 64px;
}

.search-modal-form {
    width: 577px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 23px 82px;
}

.field-group {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: grid;
    align-items: center;
}

.field-group:not(.people-number) {
    grid-column: 1/-1;
    grid-template-columns: 136px 1fr;
}

.people-number {
    display: grid;
    grid-template-columns: 135px auto;
}

.title-modal-form {
    text-transform: capitalize;
}

.modal-form-field {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    padding: 12px 45px 12px 20px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.modal-form-field:focus {
    outline: 3px solid #83b3d3;
    border-radius: 4px;
}

.field {
    grid-column: 2/-1;
}

.field-group:not(.people-number) {
    position: relative;
}

.calendar {
    position: absolute;
    background-image: url("../images/icons/calendar-icon.svg");
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 15px;
    top: 43%;
    transform: translateY(-100%);
    right: 22px;
    border: none;
    cursor: pointer;
    opacity: 30%;
}

.child-info {
    position: relative;
}

.popover-info {
    position: relative;
    margin-left: 7px;
}

.child-info:hover::after .popover {
    display: block;
}

.popover-container {
    position: relative;
}

.popover {
    width: 256px;
    padding-top: 18px;
    font-family: "PT Sans", sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    top: 22px;
    right: -66px;
    text-transform: none;
    display: none;
}

.popover-content {
    padding: 18px 22px 25px;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    margin: 0;
    max-height: 100px;
    overflow: auto;
}

.popover::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #333333;
    left: 112px;
    top: 8px;
}

.popover-information-link {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #82b3d3;
    top: -3px;
    left: 60px;
    position: absolute;
    background-image: url("../images/icons/info-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.popover-information-link:hover + .popover {
    display: block;
}

.popover-container:hover .popover {
    display: block;
}

.popover-information-link:focus + .popover {
    display: block;
}

.people-number-input {
    width: 110px;
    box-sizing: border-box;
    text-align: center;
    justify-self: end;
    padding: 12px 40px;
}

.people-number-input::-webkit-outer-spin-button,
.people-number-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.suitability-date {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-top: 4px;
    grid-column: 2 / -1;
    justify-self: start;
    text-indent: 20px;
}

.past-date {
    color: #ff5757;
}

.wrapper-number-input {
    position: relative;
    width: min-content;
}

.button-people-number-wrapper {
    padding: 14px 10px;
    top: 0;
    position: absolute;
}

.number-more {
    left: 70px;
}

.number-button {
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: block;
}

.number-button .number-button-svg {
    fill: rgba(117, 97, 87, 0.3);
    display: flex;
    margin: auto;
}

.number-button:hover .number-button-svg,
.number-button:focus .number-button-svg {
    fill: #000000;
}

.number-button:focus {
    outline: 3px solid #82b3d3;
    border-radius: 4px;
}

.number-button:active .number-button-svg {
    fill: rgba(117, 97, 87, 0.3);
}

.modal-button {
    font-family: "PT Sans", sans-serif;
    background-color: #82b3d3;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    border: 0;
    padding: 18px 50px;
    width: 100%;
    grid-column: 1/-1;
    margin-top: 24px;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #68a2ca;
}

.modal-button:active {
    background-color: #82b3d3;
    color: rgba(255, 255, 255, 0.3);
}

.modal-button:disabled {
    border-color: #e5e5e5;
    color: rgba(255, 255, 255, 0.3);
}

/*footer*/
.newsletter-background {
    background-color: #6f92ab;
    background-image: url("../images/subscribe-bg.jpg");
    background-size: cover;
    min-height: 416px;
}

.newsletter {
    color: #ffffff;
    text-align: center;
}

.newsletter-black-text {
    color: #000000;
}

.newsletter-wrapper {
    width: 684px;
    margin: auto;
    padding-top: 96px;
    padding-bottom: 105px;
}

.newsletter-subscription {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    max-width: 680px;
    margin: 0 auto;
}

.newsletter-text {
    max-width: 520px;
    margin: 20px auto 55px;
}

.newsletter-form {
    display: flex;
}

.newsletter-email:placeholder-shown {
    font-family: "PT Sans", sans-serif;
    padding: 14px 20px;
    font-size: 18px;
    line-height: 24px;
}

.newsletter-email {
    width: 452px;
    background: #f2f2f2;
    border-radius: 4px 0 0 4px;
    border: 0;
    padding: 0;
}

.newsletter-button {
    font-family: "PT Sans", sans-serif;
    background-color: #82b3d3;
    border-radius: 0 4px 4px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    border: 0;
    padding: 8px 50px;
    max-width: 232px;
}

.newsletter-button:hover,
.newsletter-button:focus {
    background-color: #68a2ca;
}

.newsletter-button:active {
    background-color: #82b3d3;
    color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:disabled {
    border-color: #e5e5e5;
    color: rgba(255, 255, 255, 0.3);
}

.container-contacts {
    width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 30px;
}

.socials {
    list-style-type: none;
    max-width: 155px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.socials-link {
    padding: 14px 13px;
}

.socials-link .socials-svg {
    fill: #83b3d3;
}

.socials-link:hover .socials-svg,
.socials-link:focus .socials-svg {
    fill: #68a2ca;
}

.socials-link:active .socials-svg {
    fill: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
    text-decoration: none;
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    display: block;
    padding: 4px 0;
    text-align: center;
    width: max-content;
    max-width: 500px;
}

.contacts-phone:hover,
.contacts-phone:focus {
    color: #756157;
}

.contacts-phone:active {
    color: rgba(117, 97, 87, 0.3);
}

.logo-ha-svg {
    display: block;
}

.logo-ha-link .logo-ha-svg {
    fill: #000000;
}

.logo-ha-link:hover .logo-ha-svg,
.logo-ha-link:focus .logo-ha-svg {
    fill: #756157;
}

.logo-ha-link:active .logo-ha-svg {
    fill: rgba(117, 97, 87, 0.3);
}

/*catalog*/

.hotel-search-form {
    background-color: #5d6a73;
    background-image: url("../images/form-filter-bg.jpg");
    background-size: cover;
    min-height: 412px;
    color: #ffffff;
    margin-bottom: 50px;
}


.search-form-container {
    margin: auto;
    padding: 70px;
    padding-top: 35px;
}

.search-form-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    margin-bottom: 8px;
}

.breadcrumbs,
.hotel-filter-list,
.hotel-card,
.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 40px;
}

.breadcrumbs-item:not(:last-child) {
    margin-right: 28px;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #ffffff;
}

.breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:not(:first-child) {
    margin-left: 16px;
}

.breadcrumbs-link::before {
    content: "";
    background-image: url("../images/breadcrumbs-gt.svg");
    display: block;
    width: 9px;
    height: 21px;
    top: 0;
    right: -18px;
    position: absolute;
}

.breadcrumbs-item:last-child a::before {
    display: none;
}

.hotel-filter {
    display: flex;
}

.filter-infrastructure,
.filter-housing,
.filter-price {
    width: 150px;
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
}

.filter-infrastructure {
    margin-right: 70px;
}

.filter-housing {
    margin-right: 141px;
}

.filter-price {
    margin-right: 70px;
}

.hotel-filter-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
}

.hotel-filter-list {
    font-size: 18px;
    line-height: 23px;
}

.hotel-filter-item:not(:last-child) {
    margin-bottom: 14px;
}

.control {
    position: relative;
    display: block;
    cursor: pointer;
}

.control-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.control-mark {
    position: relative;
    top: 3px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.control:hover {
    opacity: 0.6;
}

.control-input:focus~.control-mark {
    outline: 3px solid #83b3d3;
}

.control:active {
    opacity: 0.3;
}

.control-input[type="checkbox"]:checked+.control-mark::before,
.control-input[type="checkbox"]:checked+.control-mark::after {
    position: absolute;
    height: 2px;
    background-color: #3f5e72;
    content: "";
}

.control-input[type="checkbox"]:checked+.control-mark::before {
    transform: rotate(-50deg);
    width: 11px;
    left: 7px;
    top: 10px;
}

.control-input[type="checkbox"]:checked+.control-mark::after {
    transform: rotate(45deg);
    width: 8px;
    left: 3px;
    top: 12px;
}

.control-input[type="radio"]+.control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #3f5e72;
    border-radius: 50%;
    content: "";
}

.control-value {
    padding-left: 12px;
}

.price-title {
    margin-bottom: 32px;
}

.filter-price {
    width: 288px;
    position: relative;
}

.price {
    height: fit-content;
    position: relative;
}

.label-price-min {
    margin-right: 2px;
}

.label-price-min::before {
    content: "от";
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgb(0, 0, 0, 0.3);
    position: absolute;
    top: 12px;
    left: 75%;
}

.label-price-max::before {
    content: "до";
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgb(0, 0, 0, 0.3);
    position: absolute;
    top: 12px;
    left: 73%;
}

.price-min,
.price-max {
    background: #f2f2f2;
    border: 0;
}

.price-min {
    border-radius: 4px 0 0 4px;
}

.price-max {
    border-radius: 0 4px 4px 0;
}

.price-input {
    margin: 0;
    padding: 12px 40px 12px 20px;
    font-family: "PT Sans", sans-serif;
    width: 143px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.price-input:focus  {
    outline: 3px solid #83B3D3;
}

.price-input:active {
    outline: 2px solid #000000;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.range-scale {
    position: absolute;
    width: 287px;
    height: 4px;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 2px;
    top: 92px;
    left: 50%;
    transform: translateX(-50%);
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.range-toggle:focus {
    outline: 3px solid #83b3d3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.range-toggle:active {
    outline: 2px solid #83b3d3;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.toggle-min {
    top: -8px;
    left: 0;
}

.toggle-max {
    top: -8px;
    right: 0;
}

.range-wrapper-inputs {
    display: flex;
    justify-content: center;
}

.hotel-filter-label {
    display: flex;
    margin-right: 5px;
}


.form-filter-button {
    margin-top: 56px;
}

.filter-apply,
.filter-reset {
    font-family: "PT Sans", sans-serif;
    background: #82b3d3;
    border-radius: 4px;
    border: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: block;
    padding: 8px 50px;
}

.filter-apply {
    margin-bottom: 32px;
}

.filter-apply:hover,
.filter-apply:focus {
    background-color: #68a2ca;
}

.filter-apply:active {
    background-color: #82b3d3;
    color: rgba(255, 255, 255, 0.3);
}

.filter-apply:disabled {
    background-color: #e5e5e5;
    color: rgba(255, 255, 255, 0.3);
}

.filter-reset {
    background: none;
    width: 100%;
}

.filter-reset:hover {
    color: rgba(255, 255, 255, 0.5);
}

.filter-reset:focus {
    outline: 3px solid #83b3d3;
    border-radius: 4px;
    box-sizing: border-box;
}

.filter-reset:active {
    color: rgba(255, 255, 255, 0.3);
}

.filter-reset:disabled {
    color: rgba(255, 255, 255, 0.1);
}

.hotel-filter-result {
    display: flex;
    justify-content: space-between;
    margin: 0 70px 40px;
}

.filter-sum {
    width: 410px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin: 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.control-menu-wrapper {
    width: 522px;
    display: flex;
    justify-content: space-between;

}

.button-view-wrapper {
    display: flex;
    max-width: 225px;
    flex-wrap: wrap;
}

.select {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 292px;
}

.select-control {
    font-family: "PT Sans", sans-serif;
    width: 100%;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    font-size: 18px;
    line-height: 21px;
    padding: 12px 18px;
    background-image: url("../images/icons/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-color: inherit;
    appearance: none;
}


.select-control:hover,
.select-control:focus {
    border: 2px solid #68a2ca;
    border-radius: 4px;
}

.select-control:active {
    border: 2px solid #3f5e72;
    border-radius: 4px;
}

.select-control:disabled {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.3);
}

.button-view-link {
    width: 48px;
    height: 48px;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-right: 8px;
    margin-bottom: 1px;
    box-sizing: border-box;
}

.button-view-link:last-child {
    margin-right: 0;
}

.button-view-link:hover {
    border: 2px solid #000000;
}

.button-view-link:focus {
    border: 2px solid #68a2ca;
}

.button-view-link:active {
    border: 2px solid #000000;
}

.button-view-current {
    border: 2px solid #000000;
}

.view-cards::before {
    content: "";
    width: 16px;
    height: 14px;
    display: block;
    background: url("../images/icons/table-view.svg") no-repeat top left;
}

.view-slide::before {
    content: "";
    width: 16px;
    height: 14px;
    display: block;
    background: url("../images/icons/slide-view.svg") no-repeat top left;
}

.view-list::before {
    content: "";
    width: 16px;
    height: 14px;
    display: block;
    background: url("../images/icons/list-view.svg") no-repeat top left;
}


.hotel-catalog {
    margin: 0 70px 60px;
}

.hotel-card {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 19px 20px;
    margin-bottom: 79px;
}


.hotel-card-item {
    border: 1px solid #e6e6e6;
    border-radius: 4px;

}

.card-container {
    padding: 19px 19px 21px;
}

.hotel-image {
    display: block;
    object-fit: cover;
}

.hotel-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    display: block;
    margin: 17px 0 15px;
    text-decoration: none;
    width: max-content;
    max-width: 300px;
}

.type-of-housing,
.hotel-price {
    font-size: 18px;
    line-height: 21px;
}

.hotel-price {
    text-align: right;
}

.hotel-description-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 20px;
}


.button-to-favorites,
.hotel-rating,
.about-hotel {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background: #756157;
    border-radius: 4px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    width: 100%;
}

.hotel-rating,
.about-hotel {
    display: block;
    text-align: center;
}

.hotel-rating {
    background: #f2f2f2;
    color: #333333;
    font-weight: 400;
}


.about-hotel,
.pagination-link {
    text-decoration: none;
}

.button-to-favorites {
    font-family: "PT Sans", sans-serif;
    background: #82b3d3;
    border: 0;
}

.button-to-favorites:hover,
.button-to-favorites:focus {
    background-color: #68a2ca;
}

.button-to-favorites:active {
    background-color: #82b3d3;
    color: rgba(255, 255, 255, 0.3);
}

.button-favorite-active {
    background-color: #7db54f;
}

.button-favorite-active:hover,
.button-favorite-active:focus {
    background-color: #6C9E42;
}

.button-favorite-active:active {
    background-color: #7db54f;
    color: rgba(255, 255, 255, 0.3);
}


.hotel-stars {
    padding: 0;
    margin: 0;
    height: 17px;
    background: url("../images/icons/rating-star.svg") space 0 0;
    align-self: center;
}

.hotel-stars--four {
    width: 89px;
}

.hotel-stars--three {
    width: 67px;
}

.hotel-stars--two {
    width: 43px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.pagination:before {
    content: "";
    border: 1px solid #E6E6E6;
    display: block;
    width: 100%;
    margin: 0 auto;
    top: -40px;
    position: absolute;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    min-width: 60px;
    height: 60px;
    background-color: #82b3d3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 11px 15px;
    box-sizing: border-box;
}

.pagination-link:hover:not(.pagination-current),
.pagination-link:focus:not(.pagination-current) {
    background-color: #68a2ca;
    border: 1px solid #82b3d3;
    box-sizing: border-box;
}

.pagination-link:active:not(.pagination-current) {
    background-color: #82b3d3;
    color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
    background: #f2f2f2;
    color: #000000;
    cursor: default;
}
